@font-face {
    font-family: 'Mrs. Monster Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Mrs. Monster Regular'), url('mrsmonster.woff') format('woff');
}

h1 {
    font-family: 'Mrs. Monster Regular';
}
